[Desktop Entry]
Type=Application
Name=Private Internet Access
Comment=Private Internet Access VPN client
Path=/opt/piavpn/bin/
Exec=/opt/piavpn/bin/pia-client %u --quiet
Icon=pia
Terminal=false
Categories=Network
StartupWMClass=pia-client
MimeType=x-scheme-handler/piavpn
